/*fonts*/
.Comfortaa{
  font-family: 'Comfortaa', cursive;
}

.Truetypewriter{
  font-family: 'Truetypewriter PolyglOTT', cursive;
}

/* General / Header Section */

body{
  background-color: #DAE2E5;
  font-family: 'Comfortaa', cursive;
}

a:hover{
  color: #4C5C59;
}

.main-nav{
  background-color: #789DA9;
}

.secondary-nav{
  position: fixed;
  margin-top: 1%;
  background-color: rgba(120,157,169,50%);
  z-index: 50;
}

.nav-li{
  color: #EAE6E0;
  text-decoration: none;
  font-size: 1.2rem;
}

.logo{
  color: #EAE6E0;
  text-decoration: none;
  font-family: 'Truetypewriter PolyglOTT', cursive;
  font-size: 2.5rem;
}

.active-nav{
  color: #4C5C59;
  /* border-bottom : 3px solid #4C5C59; */
}

.login-form{
  text-align: right;
  margin: 3%;
}

.login-form .form-group{
  margin: 2%;
}

.form-group .btn{
  margin-top: 3%;
  background-color: #a7cad6;
}

 /* Body Section */
 .left-image{
   border-radius: 0 50% 50% 0;
   height:100vh;
   width: 100%;
 }

 .right-image{
   border-radius: 50% 0 0 50%;
   height:100vh;
   width: 100%;
 }

 .my-btn{
   width: fit-content;
   background-color: #789DA9;
   color: #EAE6E0;
   font-size: 1.6rem;
   padding: 1%;
   margin: 3%;
 }

 .menu-title{
   width: 100%;
   padding-top: 1%;
   margin-top: 5%;
   text-align: center;
   background-color: rgba(120,157,169,50%);
 }

 .rounded-image{
   border-radius: 50%;
   width: 70%;
   height: auto;
 }

/* Intro Section */
.intro{
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 3rem;
}

.small-img{
  width: 100%;
}

/* Activities section */
.activities{
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 2rem;
}

/* Mental health section */
.mental-text{
  text-align: center;
  font-size: 2rem;
}

/* 24h support section */
.support{
   text-align:center;
   margin-top:3%;
}

/* Footer */
.footer{
  padding: 1%;
  background-color:rgba(120,157,169,50%);
}

.footer-item{
  text-align: center;
  margin-top: 2%;
}

.sponsor{
  margin-left: 3%;
  padding-top: 1%;
  height: 100%;
  background-color: rgba(218, 226, 229,0.5);
}

.sponsor-image{
  max-width:80%;
  max-height:80%;
}

 /* Sign-up form */
.field{
  width: 25%;
}
